.vagas {
  padding: 96px 80px;
  max-width: 1440px;
  margin: 0 auto;
}

.vagas__talentos {
  text-align: center;
  margin-bottom: 64px;
}

.talentos__tag {
  font-size: 14px;
  color: var(--vermelho);
  font-weight: 500;
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding: 4px 12px;
}

.talentos__titulo {
  font-size: 36px;
  color: var(--azul-escuro);
  font-weight: 600;
  margin: 16px 0 20px 0;
}

.talentos__texto {
  font-size: 20px;
}

.talentos__imagem {
  margin-top: 64px;
  width: 100%;
}

.vagas__categoria {
  margin: 64px auto 0 auto;
  width: 768px;
}

.categoria__titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--azul-escuro);
  margin-bottom: 8px;
}

.vaga {
  border-radius: 16px;
  border: 1px solid var(--borda);
  padding: 24px 24px 28px;
  margin-top: 24px;
}

.vaga__titulo {
  font-size: 18px;
  font-weight: 500;
  color: var(--azul-escuro);
}

.vaga__informacoes {
  margin-top: 32px;
}

.vaga__informacoes span {
  font-weight: 500;
  margin-right: 24px;
}
